In [44]:
import pandas as pd
import numpy as np
import math

In [18]:
company_X_Pincode_Zones = pd.read_csv('Company X - Pincode Zones.csv')
Company_X_SKU_Master = pd.read_csv('Company X - SKU Master.csv')
Courier_company_invoice = pd.read_csv('Courier Company - Invoice.csv')
Courier_company_rates = pd.read_csv('Courier Company - Rates.csv')
Company_X_Order_Report = pd.read_csv('Company X - Order Report.csv')

In [19]:
company_X_Pincode_Zones.head()

   Warehouse Pincode  Customer Pincode Zone
0             121003            507101    d
1             121003            486886    d
2             121003            532484    d
3             121003            143001    b
4             121003            515591    d

In [20]:
Company_X_SKU_Master.head()

                SKU  Weight (g)
0  8904223815682.00         210
1  8904223815859.00         165
2  8904223815866.00         113
3  8904223815873.00          65
4  8904223816214.00         120

In [21]:
Courier_company_invoice.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4

In [22]:
Courier_company_rates.head()

,fwd_a_fixed,fwd_a_additional,fwd_b_fixed,fwd_b_additional,fwd_c_fixed,fwd_c_additional,fwd_d_fixed,fwd_d_additional,fwd_e_fixed,fwd_e_additional,rto_a_fixed,rto_a_additional,rto_b_fixed,rto_b_additional,rto_c_fixed,rto_c_additional,rto_d_fixed,rto_d_additional,rto_e_fixed,rto_e_additional
0,29.5,23.6,33,28.3,40.1,38.9,45.4,44.8,56.6,55.5,13.6,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5

In [274]:
Company_X_Order_Report.head()

   ExternOrderNo               SKU  Order Qty
0     2001827036  8904223818706.00        1.0
1     2001827036  8904223819093.00        1.0
2     2001827036  8904223819109.00        1.0
3     2001827036  8904223818430.00        1.0
4     2001827036  8904223819277.00        1.0

# Joining table Corier_comapany_invoice and Company_X_Order_Report  // naming the table cci_cxor

In [33]:
cci_cxor = Courier_company_invoice.merge(Company_X_Order_Report, left_on = 'Order ID', right_on = 'ExternOrderNo')

In [273]:
cci_cxor.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),ExternOrderNo,SKU,Order Qty
0,1091117222124,2001806232,1.3,121003,507101,d,Forward charges,135.0,2001806232,8904223818645.00,6.0
1,1091117222124,2001806232,1.3,121003,507101,d,Forward charges,135.0,2001806232,8904223819147.00,2.0
2,1091117222194,2001806273,1.0,121003,486886,d,Forward charges,90.2,2001806273,8904223819017.00,1.0
3,1091117222194,2001806273,1.0,121003,486886,d,Forward charges,90.2,2001806273,8904223818706.00,1.0
4,1091117222194,2001806273,1.0,121003,486886,d,Forward charges,90.2,2001806273,8904223818942.00,1.0

# Joining table cci_cxor and table Company_X_SKU_Master

In [96]:
final_df = cci_cxor.merge(Company_X_SKU_Master, on = 'SKU')

In [276]:
final_df.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),ExternOrderNo,SKU,Order Qty,Weight (g),Total weight as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Charges Billed by Courier Company (Rs.)
0,1091117222124,2001806232,1.3,121003,507101,d,Forward charges,135.0,2001806232,8904223818645.00,6.0,137,0.822,1.3,1.5,D,D,135.0
1,1091117222124,2001806232,1.3,121003,507101,d,Forward charges,135.0,2001806232,8904223819147.00,2.0,240,0.480,1.3,1.5,D,D,135.0
2,1091117327312,2001807960,1.0,121003,485001,d,Forward charges,90.2,2001807960,8904223819147.00,1.0,240,0.240,1.0,1.0,D,D,90.2
3,1091120014461,2001818390,0.8,121003,783301,e,Forward and RTO charges,213.5,2001818390,8904223819147.00,1.0,240,0.240,0.8,1.0,E,E,213.5
4,1091120959225,2001821185,2.1,121003,313001,d,Forward charges,224.6,2001821185,8904223819147.00,1.0,240,0.240,2.1,2.5,D,D,224.6

# Converting gram to kg and making a new column as Total weight as per X (KG)

In [278]:
final_df['Total weight as per X (KG)'] = final_df['Weight (g)']*final_df['Order Qty'] /1000
final_df.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),ExternOrderNo,SKU,Order Qty,Weight (g),Total weight as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Charges Billed by Courier Company (Rs.)
0,1091117222124,2001806232,1.3,121003,507101,d,Forward charges,135.0,2001806232,8904223818645.00,6.0,137,0.822,1.3,1.5,D,D,135.0
1,1091117222124,2001806232,1.3,121003,507101,d,Forward charges,135.0,2001806232,8904223819147.00,2.0,240,0.480,1.3,1.5,D,D,135.0
2,1091117327312,2001807960,1.0,121003,485001,d,Forward charges,90.2,2001807960,8904223819147.00,1.0,240,0.240,1.0,1.0,D,D,90.2
3,1091120014461,2001818390,0.8,121003,783301,e,Forward and RTO charges,213.5,2001818390,8904223819147.00,1.0,240,0.240,0.8,1.0,E,E,213.5
4,1091120959225,2001821185,2.1,121003,313001,d,Forward charges,224.6,2001821185,8904223819147.00,1.0,240,0.240,2.1,2.5,D,D,224.6

# Adding  Weight slab as per x (KG) column and rounding the values to multiple of 0.5

In [279]:
final_df['Weight slab as per X (KG)'] = final_df['Total weight as per X (KG)'].apply(lambda x: math.ceil(x*2) / 2)
final_df.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),ExternOrderNo,SKU,Order Qty,Weight (g),Total weight as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Charges Billed by Courier Company (Rs.),Weight slab as per X (KG)
0,1091117222124,2001806232,1.3,121003,507101,d,Forward charges,135.0,2001806232,8904223818645.00,6.0,137,0.822,1.3,1.5,D,D,135.0,1.0
1,1091117222124,2001806232,1.3,121003,507101,d,Forward charges,135.0,2001806232,8904223819147.00,2.0,240,0.480,1.3,1.5,D,D,135.0,0.5
2,1091117327312,2001807960,1.0,121003,485001,d,Forward charges,90.2,2001807960,8904223819147.00,1.0,240,0.240,1.0,1.0,D,D,90.2,0.5
3,1091120014461,2001818390,0.8,121003,783301,e,Forward and RTO charges,213.5,2001818390,8904223819147.00,1.0,240,0.240,0.8,1.0,E,E,213.5,0.5
4,1091120959225,2001821185,2.1,121003,313001,d,Forward charges,224.6,2001821185,8904223819147.00,1.0,240,0.240,2.1,2.5,D,D,224.6,0.5

# creating a column as 'Total weight as per Courier Company (KG)'

In [282]:
final_df['Total weight as per Courier Company (KG)'] = final_df['Charged Weight']
final_df.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),ExternOrderNo,SKU,Order Qty,Weight (g),Total weight as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Charges Billed by Courier Company (Rs.),Weight slab as per X (KG)
0,1091117222124,2001806232,1.3,121003,507101,d,Forward charges,135.0,2001806232,8904223818645.00,6.0,137,0.822,1.3,1.5,D,D,135.0,1.0
1,1091117222124,2001806232,1.3,121003,507101,d,Forward charges,135.0,2001806232,8904223819147.00,2.0,240,0.480,1.3,1.5,D,D,135.0,0.5
2,1091117327312,2001807960,1.0,121003,485001,d,Forward charges,90.2,2001807960,8904223819147.00,1.0,240,0.240,1.0,1.0,D,D,90.2,0.5
3,1091120014461,2001818390,0.8,121003,783301,e,Forward and RTO charges,213.5,2001818390,8904223819147.00,1.0,240,0.240,0.8,1.0,E,E,213.5,0.5
4,1091120959225,2001821185,2.1,121003,313001,d,Forward charges,224.6,2001821185,8904223819147.00,1.0,240,0.240,2.1,2.5,D,D,224.6,0.5

# Creating 'Weight slab charged by Courier Company (KG)' column and rounding its values to multiple of 0.5

In [281]:
final_df['Weight slab charged by Courier Company (KG)'] = final_df['Total weight as per Courier Company (KG)'].apply(lambda x: math.ceil(x*2) / 2)
final_df.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),ExternOrderNo,SKU,Order Qty,Weight (g),Total weight as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Charges Billed by Courier Company (Rs.),Weight slab as per X (KG)
0,1091117222124,2001806232,1.3,121003,507101,d,Forward charges,135.0,2001806232,8904223818645.00,6.0,137,0.822,1.3,1.5,D,D,135.0,1.0
1,1091117222124,2001806232,1.3,121003,507101,d,Forward charges,135.0,2001806232,8904223819147.00,2.0,240,0.480,1.3,1.5,D,D,135.0,0.5
2,1091117327312,2001807960,1.0,121003,485001,d,Forward charges,90.2,2001807960,8904223819147.00,1.0,240,0.240,1.0,1.0,D,D,90.2,0.5
3,1091120014461,2001818390,0.8,121003,783301,e,Forward and RTO charges,213.5,2001818390,8904223819147.00,1.0,240,0.240,0.8,1.0,E,E,213.5,0.5
4,1091120959225,2001821185,2.1,121003,313001,d,Forward charges,224.6,2001821185,8904223819147.00,1.0,240,0.240,2.1,2.5,D,D,224.6,0.5

In [283]:
final_df['Delivery Zone as per X'] = final_df['Zone'].apply(lambda x : x.capitalize())
final_df.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),ExternOrderNo,SKU,Order Qty,Weight (g),Total weight as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Charges Billed by Courier Company (Rs.),Weight slab as per X (KG)
0,1091117222124,2001806232,1.3,121003,507101,d,Forward charges,135.0,2001806232,8904223818645.00,6.0,137,0.822,1.3,1.5,D,D,135.0,1.0
1,1091117222124,2001806232,1.3,121003,507101,d,Forward charges,135.0,2001806232,8904223819147.00,2.0,240,0.480,1.3,1.5,D,D,135.0,0.5
2,1091117327312,2001807960,1.0,121003,485001,d,Forward charges,90.2,2001807960,8904223819147.00,1.0,240,0.240,1.0,1.0,D,D,90.2,0.5
3,1091120014461,2001818390,0.8,121003,783301,e,Forward and RTO charges,213.5,2001818390,8904223819147.00,1.0,240,0.240,0.8,1.0,E,E,213.5,0.5
4,1091120959225,2001821185,2.1,121003,313001,d,Forward charges,224.6,2001821185,8904223819147.00,1.0,240,0.240,2.1,2.5,D,D,224.6,0.5

In [104]:

final_df['Delivery Zone charged by Courier Company'] = final_df['Zone'].apply(lambda x : x.capitalize())

In [285]:

final_df['Charges Billed by Courier Company (Rs.)'] = final_df['Billing Amount (Rs.)']
final_df.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),ExternOrderNo,SKU,Order Qty,Weight (g),Total weight as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Charges Billed by Courier Company (Rs.),Weight slab as per X (KG)
0,1091117222124,2001806232,1.3,121003,507101,d,Forward charges,135.0,2001806232,8904223818645.00,6.0,137,0.822,1.3,1.5,D,D,135.0,1.0
1,1091117222124,2001806232,1.3,121003,507101,d,Forward charges,135.0,2001806232,8904223819147.00,2.0,240,0.480,1.3,1.5,D,D,135.0,0.5
2,1091117327312,2001807960,1.0,121003,485001,d,Forward charges,90.2,2001807960,8904223819147.00,1.0,240,0.240,1.0,1.0,D,D,90.2,0.5
3,1091120014461,2001818390,0.8,121003,783301,e,Forward and RTO charges,213.5,2001818390,8904223819147.00,1.0,240,0.240,0.8,1.0,E,E,213.5,0.5
4,1091120959225,2001821185,2.1,121003,313001,d,Forward charges,224.6,2001821185,8904223819147.00,1.0,240,0.240,2.1,2.5,D,D,224.6,0.5

# Selecting required column and saving into a new data frame as 'company_X'

In [286]:
company_X = final_df[['Order ID','AWB Code','Total weight as per X (KG)','Total weight as per Courier Company (KG)','Weight slab charged by Courier Company (KG)','Delivery Zone as per X','Delivery Zone charged by Courier Company','Charges Billed by Courier Company (Rs.)','Type of Shipment']]

In [288]:
company_X.head()

,Order ID,AWB Code,Total weight as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Charges Billed by Courier Company (Rs.),Type of Shipment
0,2001806232,1091117222124,0.822,1.3,1.5,D,D,135.0,Forward charges
1,2001806232,1091117222124,0.480,1.3,1.5,D,D,135.0,Forward charges
2,2001807960,1091117327312,0.240,1.0,1.0,D,D,90.2,Forward charges
3,2001818390,1091120014461,0.240,0.8,1.0,E,E,213.5,Forward and RTO charges
4,2001821185,1091120959225,0.240,2.1,2.5,D,D,224.6,Forward charges

In [ ]:
Grouping data by 'Order ID' and creating a new data frame as 'company_x_new'

In [289]:
company_x_new = company_X.groupby(['Order ID']).agg({'AWB Code': 'first','Total weight as per X (KG)': 'sum', 'Total weight as per Courier Company (KG)':'first'
                                     ,'Weight slab charged by Courier Company (KG)':'first' ,'Delivery Zone as per X':'first'
                                      ,'Delivery Zone charged by Courier Company':'first'
                                      ,'Charges Billed by Courier Company (Rs.)':'first'
                                      , 'Type of Shipment':'first'
                                     })

In [290]:
company_x_new.head()

,AWB Code,Total weight as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Charges Billed by Courier Company (Rs.),Type of Shipment
Order ID,,,,,,,,
2001806210,1091117221940,0.220,2.92,3.0,B,B,174.5,Forward charges
2001806226,1091117222065,0.480,0.68,1.0,D,D,90.2,Forward charges
2001806229,1091117222080,0.500,0.71,1.0,D,D,90.2,Forward charges
2001806232,1091117222124,1.302,1.30,1.5,D,D,135.0,Forward charges
2001806233,1091117222135,0.245,0.78,1.0,B,B,61.3,Forward charges

In [291]:
company_x_new['Weight slab as per X (KG)'] = company_x_new['Total weight as per X (KG)'].apply(lambda x: math.ceil(x*2) / 2)
company_x_new.head()

,AWB Code,Total weight as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Charges Billed by Courier Company (Rs.),Type of Shipment,Weight slab as per X (KG)
Order ID,,,,,,,,,
2001806210,1091117221940,0.220,2.92,3.0,B,B,174.5,Forward charges,0.5
2001806226,1091117222065,0.480,0.68,1.0,D,D,90.2,Forward charges,0.5
2001806229,1091117222080,0.500,0.71,1.0,D,D,90.2,Forward charges,0.5
2001806232,1091117222124,1.302,1.30,1.5,D,D,135.0,Forward charges,1.5
2001806233,1091117222135,0.245,0.78,1.0,B,B,61.3,Forward charges,0.5

# Creating Function for Expected Charge as per X (Rs.) Calculation

In [294]:

def expected_charge(ty_smt,ws,zone):
    
    fwd_b_fixed = 33
     
    fwd_b_additional = 28.3
    
    rto_b_fixed = 20.5
    
    rto_b_additional = 28.3
    
    fwd_d_fixed = 45.4

    fwd_d_additional = 44.8

    rto_d_fixed = 41.3
    
    rto_d_additional = 44.8
    
    fwd_e_fixed = 56.6
    
    fwd_e_additional = 55.5
    
    rto_e_fixed = 50.7
    
    rto_e_additional = 55.5
    
    if ty_smt == 'Forward charges':
        if ws / .5 > 1:
            if zone == 'D':
                return fwd_d_fixed + (ws // .5 - 1)* fwd_d_additional
            elif zone == 'B':
                return fwd_b_fixed + (ws // .5 - 1)* fwd_b_additional
            else:
                return fwd_e_fixed + (ws // .5 - 1)* fwd_e_additional
        else:
            if zone == 'D':
                return fwd_d_fixed 
            elif zone == 'B':
                return fwd_b_fixed 
            else:
                return fwd_e_fixed 
    elif ty_smt == 'Forward and RTO charges':
        if ws / .5 > 1:
            if zone == 'B':
                return (fwd_b_fixed + rto_b_fixed) + (ws // .5 - 1)* (fwd_b_additional + rto_b_additional)
            elif zone == 'D':
                return (fwd_d_fixed + rto_d_fixed) + (ws // .5 - 1)* (fwd_d_additional + rto_d_additional)
            else:
                return (fwd_e_fixed + rto_e_fixed) + (ws // .5 - 1)* (fwd_e_additional + rto_e_additional)
        else:
            if zone == 'B':
                 return (fwd_b_fixed + rto_b_fixed)
            elif zone == 'D':
                 return (fwd_d_fixed + rto_d_fixed)
            else:
                 return (fwd_e_fixed + rto_e_fixed)
    else:
        return 1

In [301]:
company_x_new['Expected Charge as per X (Rs.)'] = company_x_new.apply(lambda x: expected_charge(x['Type of Shipment'], x['Weight slab as per X (KG)'], x['Delivery Zone as per X']), 
                        axis=1)

In [302]:
company_x_new.head()

,AWB Code,Total weight as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Charges Billed by Courier Company (Rs.),Type of Shipment,Weight slab as per X (KG),Expected Charge as per X (Rs.)
Order ID,,,,,,,,,,
2001806210,1091117221940,0.220,2.92,3.0,B,B,174.5,Forward charges,0.5,33.0
2001806226,1091117222065,0.480,0.68,1.0,D,D,90.2,Forward charges,0.5,45.4
2001806229,1091117222080,0.500,0.71,1.0,D,D,90.2,Forward charges,0.5,45.4
2001806232,1091117222124,1.302,1.30,1.5,D,D,135.0,Forward charges,1.5,135.0
2001806233,1091117222135,0.245,0.78,1.0,B,B,61.3,Forward charges,0.5,33.0

In [303]:
company_x_new['Difference Between Expected Charges and Billed Charges (Rs.)'] = round(company_x_new['Expected Charge as per X (Rs.)'] - company_x_new['Charges Billed by Courier Company (Rs.)'],2)

In [305]:
company_x_new.head()

,AWB Code,Total weight as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Charges Billed by Courier Company (Rs.),Type of Shipment,Weight slab as per X (KG),Expected Charge as per X (Rs.),Difference Between Expected Charges and Billed Charges (Rs.)
Order ID,,,,,,,,,,,
2001806210,1091117221940,0.220,2.92,3.0,B,B,174.5,Forward charges,0.5,33.0,-141.5
2001806226,1091117222065,0.480,0.68,1.0,D,D,90.2,Forward charges,0.5,45.4,-44.8
2001806229,1091117222080,0.500,0.71,1.0,D,D,90.2,Forward charges,0.5,45.4,-44.8
2001806232,1091117222124,1.302,1.30,1.5,D,D,135.0,Forward charges,1.5,135.0,0.0
2001806233,1091117222135,0.245,0.78,1.0,B,B,61.3,Forward charges,0.5,33.0,-28.3

In [313]:
company_x_new.reset_index(inplace=True)

In [314]:
required_data_frame = company_x_new[['Order ID','AWB Code','Total weight as per X (KG)','Weight slab as per X (KG)','Total weight as per Courier Company (KG)','Weight slab charged by Courier Company (KG)','Delivery Zone as per X','Delivery Zone charged by Courier Company','Expected Charge as per X (Rs.)','Charges Billed by Courier Company (Rs.)', 'Difference Between Expected Charges and Billed Charges (Rs.)']]

In [315]:
required_data_frame.head()

,Order ID,AWB Code,Total weight as per X (KG),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Expected Charge as per X (Rs.),Charges Billed by Courier Company (Rs.),Difference Between Expected Charges and Billed Charges (Rs.)
0,2001806210,1091117221940,0.220,0.5,2.92,3.0,B,B,33.0,174.5,-141.5
1,2001806226,1091117222065,0.480,0.5,0.68,1.0,D,D,45.4,90.2,-44.8
2,2001806229,1091117222080,0.500,0.5,0.71,1.0,D,D,45.4,90.2,-44.8
3,2001806232,1091117222124,1.302,1.5,1.30,1.5,D,D,135.0,135.0,0.0
4,2001806233,1091117222135,0.245,0.5,0.78,1.0,B,B,33.0,61.3,-28.3

In [272]:
required_data_frame.to_csv("Company_X_Final_Output.csv")

In [316]:
X_correctly_charged = required_data_frame[required_data_frame['Difference Between Expected Charges and Billed Charges (Rs.)'] == 0.0]

In [317]:
len(X_correctly_charged)

52

In [318]:
total_invoice_amount_correctly_charged = required_data_frame[required_data_frame['Difference Between Expected Charges and Billed Charges (Rs.)'] == 0.0]['Charges Billed by Courier Company (Rs.)'].sum()

In [319]:
round(total_invoice_amount_correctly_charged,2)

4484.6

In [322]:
X_over_charged = required_data_frame[required_data_frame['Difference Between Expected Charges and Billed Charges (Rs.)'] < 0.0]

In [323]:
len(X_over_charged)

51

In [324]:
total_invoice_amount_over_charged = required_data_frame[required_data_frame['Difference Between Expected Charges and Billed Charges (Rs.)'] < 0.0]['Difference Between Expected Charges and Billed Charges (Rs.)'].sum()

In [325]:
round(total_invoice_amount_over_charged,2)

-3140.8

In [326]:
X_under_charged = required_data_frame[required_data_frame['Difference Between Expected Charges and Billed Charges (Rs.)'] > 0.0]

In [327]:
len(X_under_charged)

21

In [328]:
total_invoice_amount_under_charged = required_data_frame[required_data_frame['Difference Between Expected Charges and Billed Charges (Rs.)'] > 0.0]['Difference Between Expected Charges and Billed Charges (Rs.)'].sum()

In [329]:
round(total_invoice_amount_under_charged,2)

497.0