In [165]:
import pandas as pd
import numpy as np
import math

# Importing files

In [121]:
company_X_Pincode_Zones = pd.read_excel('C:/Users/verma/Downloads/Project/Company_X_Pincode_Zones.xlsx')
Company_X_SKU_Master = pd.read_excel('C:/Users/verma/Downloads/Project/Company_X_SKU_Master.xlsx')
Courier_company_invoice = pd.read_excel('C:/Users/verma/Downloads/Project/Courier_Company_Invoice.xlsx')
Courier_company_rates = pd.read_excel('C:/Users/verma/Downloads/Project/Courier_Company_Rates.xlsx')
Company_X_Order_Report = pd.read_excel('C:/Users/verma/Downloads/Project/Company_X _Order_Report.xlsx')

In [169]:
company_X_Pincode_Zones.sample(5)

     Warehouse Pincode  Customer Pincode Zone
1               121003            486886    d
110             121003            302001    b
114             121003            324008    b
3               121003            143001    b
100             121003            335803    b

In [170]:
Company_X_SKU_Master.head()

             SKU  Weight (g)
0  8904223815682         210
1  8904223815859         165
2  8904223815866         113
3  8904223815873          65
4  8904223816214         120

In [171]:
Courier_company_invoice.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,1091120000000,2001806232,1.30,121003,507101,d,Forward charges,135.0
1,1091120000000,2001806273,1.00,121003,486886,d,Forward charges,90.2
2,1091120000000,2001806408,2.50,121003,532484,d,Forward charges,224.6
3,1091120000000,2001806458,1.00,121003,143001,b,Forward charges,61.3
4,1091120000000,2001807012,0.15,121003,515591,d,Forward charges,45.4

In [172]:
Courier_company_rates.head()

,fwd_a_fixed,fwd_a_additional,fwd_b_fixed,fwd_b_additional,fwd_c_fixed,fwd_c_additional,fwd_d_fixed,fwd_d_additional,fwd_e_fixed,fwd_e_additional,rto_a_fixed,rto_a_additional,rto_b_fixed,rto_b_additional,rto_c_fixed,rto_c_additional,rto_d_fixed,rto_d_additional,rto_e_fixed,rto_e_additional
0,29.5,23.6,33,28.3,40.1,38.9,45.4,44.8,56.6,55.5,13.6,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5

#    # Joining table Corier_comapany_invoice and Company_X_Order_Report  > Cr_company_invoice_company_x_order

In [174]:
Cr_company_invoice_company_x_order = Courier_company_invoice.merge(Company_X_Order_Report, left_on = 'Order ID', right_on = 'ExternOrderNo')

In [176]:
Cr_company_invoice_company_x_order.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),ExternOrderNo,SKU,Order Qty
0,1091120000000,2001806232,1.3,121003,507101,d,Forward charges,135.0,2001806232,8904223818645,6.0
1,1091120000000,2001806232,1.3,121003,507101,d,Forward charges,135.0,2001806232,8904223819147,2.0
2,1091120000000,2001806273,1.0,121003,486886,d,Forward charges,90.2,2001806273,8904223819017,1.0
3,1091120000000,2001806273,1.0,121003,486886,d,Forward charges,90.2,2001806273,8904223818706,1.0
4,1091120000000,2001806273,1.0,121003,486886,d,Forward charges,90.2,2001806273,8904223818942,1.0

# Joining table Cr_company_invoice_company_x_order and table Company_X_SKU_Master

In [177]:
combined_df = Cr_company_invoice_company_x_order.merge(Company_X_SKU_Master, left_on = 'SKU', right_on = 'SKU', how = 'inner')

In [178]:
combined_df.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),ExternOrderNo,SKU,Order Qty,Weight (g)
0,1091120000000,2001806232,1.3,121003,507101,d,Forward charges,135.0,2001806232,8904223818645,6.0,137
1,1091120000000,2001806232,1.3,121003,507101,d,Forward charges,135.0,2001806232,8904223819147,2.0,240
2,1091120000000,2001807960,1.0,121003,485001,d,Forward charges,90.2,2001807960,8904223819147,1.0,240
3,1091120000000,2001818390,0.8,121003,783301,e,Forward and RTO charges,213.5,2001818390,8904223819147,1.0,240
4,1091120000000,2001821185,2.1,121003,313001,d,Forward charges,224.6,2001821185,8904223819147,1.0,240

# Converting gram to kg and adding a new column as Total weight as per X (KG)

In [179]:
combined_df['Total weight as per X (KG)'] = combined_df['Weight (g)']*combined_df['Order Qty'] /1000
combined_df.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),ExternOrderNo,SKU,Order Qty,Weight (g),Total weight as per X (KG)
0,1091120000000,2001806232,1.3,121003,507101,d,Forward charges,135.0,2001806232,8904223818645,6.0,137,0.822
1,1091120000000,2001806232,1.3,121003,507101,d,Forward charges,135.0,2001806232,8904223819147,2.0,240,0.480
2,1091120000000,2001807960,1.0,121003,485001,d,Forward charges,90.2,2001807960,8904223819147,1.0,240,0.240
3,1091120000000,2001818390,0.8,121003,783301,e,Forward and RTO charges,213.5,2001818390,8904223819147,1.0,240,0.240
4,1091120000000,2001821185,2.1,121003,313001,d,Forward charges,224.6,2001821185,8904223819147,1.0,240,0.240

# Adding  Weight slab as per x (KG) column and rounding the values to  the multiple of 0.5

In [180]:
combined_df['Weight slab as per X (KG)'] = combined_df['Total weight as per X (KG)'].apply(lambda x: math.ceil(x*2) / 2)
combined_df.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),ExternOrderNo,SKU,Order Qty,Weight (g),Total weight as per X (KG),Weight slab as per X (KG)
0,1091120000000,2001806232,1.3,121003,507101,d,Forward charges,135.0,2001806232,8904223818645,6.0,137,0.822,1.0
1,1091120000000,2001806232,1.3,121003,507101,d,Forward charges,135.0,2001806232,8904223819147,2.0,240,0.480,0.5
2,1091120000000,2001807960,1.0,121003,485001,d,Forward charges,90.2,2001807960,8904223819147,1.0,240,0.240,0.5
3,1091120000000,2001818390,0.8,121003,783301,e,Forward and RTO charges,213.5,2001818390,8904223819147,1.0,240,0.240,0.5
4,1091120000000,2001821185,2.1,121003,313001,d,Forward charges,224.6,2001821185,8904223819147,1.0,240,0.240,0.5

# Adding  a column as 'Total weight as per Courier Company (KG)'

In [181]:
combined_df['Total weight as per Courier Company (KG)'] = combined_df['Charged Weight']
combined_df.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),ExternOrderNo,SKU,Order Qty,Weight (g),Total weight as per X (KG),Weight slab as per X (KG),Total weight as per Courier Company (KG)
0,1091120000000,2001806232,1.3,121003,507101,d,Forward charges,135.0,2001806232,8904223818645,6.0,137,0.822,1.0,1.3
1,1091120000000,2001806232,1.3,121003,507101,d,Forward charges,135.0,2001806232,8904223819147,2.0,240,0.480,0.5,1.3
2,1091120000000,2001807960,1.0,121003,485001,d,Forward charges,90.2,2001807960,8904223819147,1.0,240,0.240,0.5,1.0
3,1091120000000,2001818390,0.8,121003,783301,e,Forward and RTO charges,213.5,2001818390,8904223819147,1.0,240,0.240,0.5,0.8
4,1091120000000,2001821185,2.1,121003,313001,d,Forward charges,224.6,2001821185,8904223819147,1.0,240,0.240,0.5,2.1

# Adding 'Weight slab charged by Courier Company (KG)' column and rounding its values to the multiple of 0.5

In [182]:
combined_df['Weight slab charged by Courier Company (KG)'] = combined_df['Total weight as per Courier Company (KG)'].apply(lambda x: math.ceil(x*2) / 2)
combined_df.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),ExternOrderNo,SKU,Order Qty,Weight (g),Total weight as per X (KG),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG)
0,1091120000000,2001806232,1.3,121003,507101,d,Forward charges,135.0,2001806232,8904223818645,6.0,137,0.822,1.0,1.3,1.5
1,1091120000000,2001806232,1.3,121003,507101,d,Forward charges,135.0,2001806232,8904223819147,2.0,240,0.480,0.5,1.3,1.5
2,1091120000000,2001807960,1.0,121003,485001,d,Forward charges,90.2,2001807960,8904223819147,1.0,240,0.240,0.5,1.0,1.0
3,1091120000000,2001818390,0.8,121003,783301,e,Forward and RTO charges,213.5,2001818390,8904223819147,1.0,240,0.240,0.5,0.8,1.0
4,1091120000000,2001821185,2.1,121003,313001,d,Forward charges,224.6,2001821185,8904223819147,1.0,240,0.240,0.5,2.1,2.5

In [183]:
combined_df['Delivery Zone as per X'] = combined_df['Zone'].apply(lambda x : x.capitalize())
combined_df.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),ExternOrderNo,SKU,Order Qty,Weight (g),Total weight as per X (KG),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X
0,1091120000000,2001806232,1.3,121003,507101,d,Forward charges,135.0,2001806232,8904223818645,6.0,137,0.822,1.0,1.3,1.5,D
1,1091120000000,2001806232,1.3,121003,507101,d,Forward charges,135.0,2001806232,8904223819147,2.0,240,0.480,0.5,1.3,1.5,D
2,1091120000000,2001807960,1.0,121003,485001,d,Forward charges,90.2,2001807960,8904223819147,1.0,240,0.240,0.5,1.0,1.0,D
3,1091120000000,2001818390,0.8,121003,783301,e,Forward and RTO charges,213.5,2001818390,8904223819147,1.0,240,0.240,0.5,0.8,1.0,E
4,1091120000000,2001821185,2.1,121003,313001,d,Forward charges,224.6,2001821185,8904223819147,1.0,240,0.240,0.5,2.1,2.5,D

In [184]:

combined_df['Delivery Zone charged by Courier Company'] = combined_df['Zone'].apply(lambda x : x.capitalize())

In [185]:

combined_df['Charges Billed by Courier Company (Rs.)'] = combined_df['Billing Amount (Rs.)']
combined_df.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),ExternOrderNo,SKU,Order Qty,Weight (g),Total weight as per X (KG),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Charges Billed by Courier Company (Rs.)
0,1091120000000,2001806232,1.3,121003,507101,d,Forward charges,135.0,2001806232,8904223818645,6.0,137,0.822,1.0,1.3,1.5,D,D,135.0
1,1091120000000,2001806232,1.3,121003,507101,d,Forward charges,135.0,2001806232,8904223819147,2.0,240,0.480,0.5,1.3,1.5,D,D,135.0
2,1091120000000,2001807960,1.0,121003,485001,d,Forward charges,90.2,2001807960,8904223819147,1.0,240,0.240,0.5,1.0,1.0,D,D,90.2
3,1091120000000,2001818390,0.8,121003,783301,e,Forward and RTO charges,213.5,2001818390,8904223819147,1.0,240,0.240,0.5,0.8,1.0,E,E,213.5
4,1091120000000,2001821185,2.1,121003,313001,d,Forward charges,224.6,2001821185,8904223819147,1.0,240,0.240,0.5,2.1,2.5,D,D,224.6

# Selecting required column and saving into a new data frame as 'company_X_df'

In [186]:
company_X_df = combined_df[['Order ID','AWB Code','Total weight as per X (KG)','Total weight as per Courier Company (KG)','Weight slab charged by Courier Company (KG)','Delivery Zone as per X','Delivery Zone charged by Courier Company','Charges Billed by Courier Company (Rs.)','Type of Shipment']]

In [188]:
company_X_df.head()

,Order ID,AWB Code,Total weight as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Charges Billed by Courier Company (Rs.),Type of Shipment
0,2001806232,1091120000000,0.822,1.3,1.5,D,D,135.0,Forward charges
1,2001806232,1091120000000,0.480,1.3,1.5,D,D,135.0,Forward charges
2,2001807960,1091120000000,0.240,1.0,1.0,D,D,90.2,Forward charges
3,2001818390,1091120000000,0.240,0.8,1.0,E,E,213.5,Forward and RTO charges
4,2001821185,1091120000000,0.240,2.1,2.5,D,D,224.6,Forward charges

# Grouping data by 'Order ID' and creating a new data frame as 'final_df'

In [189]:
final_df = company_X_df.groupby(['Order ID']).agg({'AWB Code': 'first','Total weight as per X (KG)': 'sum', 'Total weight as per Courier Company (KG)':'first'
                                     ,'Weight slab charged by Courier Company (KG)':'first' ,'Delivery Zone as per X':'first'
                                      ,'Delivery Zone charged by Courier Company':'first'
                                      ,'Charges Billed by Courier Company (Rs.)':'first'
                                      , 'Type of Shipment':'first'
                                     })

In [190]:
final_df.head()

,AWB Code,Total weight as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Charges Billed by Courier Company (Rs.),Type of Shipment
Order ID,,,,,,,,
2001806210,1091120000000,0.220,2.92,3.0,B,B,174.5,Forward charges
2001806226,1091120000000,0.480,0.68,1.0,D,D,90.2,Forward charges
2001806229,1091120000000,0.500,0.71,1.0,D,D,90.2,Forward charges
2001806232,1091120000000,1.302,1.30,1.5,D,D,135.0,Forward charges
2001806233,1091120000000,0.245,0.78,1.0,B,B,61.3,Forward charges

In [191]:
final_df['Weight slab as per X (KG)'] = final_df['Total weight as per X (KG)'].apply(lambda x: math.ceil(x*2) / 2)
final_df.head()

,AWB Code,Total weight as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Charges Billed by Courier Company (Rs.),Type of Shipment,Weight slab as per X (KG)
Order ID,,,,,,,,,
2001806210,1091120000000,0.220,2.92,3.0,B,B,174.5,Forward charges,0.5
2001806226,1091120000000,0.480,0.68,1.0,D,D,90.2,Forward charges,0.5
2001806229,1091120000000,0.500,0.71,1.0,D,D,90.2,Forward charges,0.5
2001806232,1091120000000,1.302,1.30,1.5,D,D,135.0,Forward charges,1.5
2001806233,1091120000000,0.245,0.78,1.0,B,B,61.3,Forward charges,0.5

# Expected Charge as per X (Rs.) Calculation

In [192]:

def expected_charge(ty_smt,ws,zone):
    
    fwd_b_fixed = 33
     
    fwd_b_additional = 28.3
    
    rto_b_fixed = 20.5
    
    rto_b_additional = 28.3
    
    fwd_d_fixed = 45.4

    fwd_d_additional = 44.8

    rto_d_fixed = 41.3
    
    rto_d_additional = 44.8
    
    fwd_e_fixed = 56.6
    
    fwd_e_additional = 55.5
    
    rto_e_fixed = 50.7
    
    rto_e_additional = 55.5
    
    if ty_smt == 'Forward charges':
        if ws / .5 > 1:
            if zone == 'D':
                return fwd_d_fixed + (ws // .5 - 1)* fwd_d_additional
            elif zone == 'B':
                return fwd_b_fixed + (ws // .5 - 1)* fwd_b_additional
            else:
                return fwd_e_fixed + (ws // .5 - 1)* fwd_e_additional
        else:
            if zone == 'D':
                return fwd_d_fixed 
            elif zone == 'B':
                return fwd_b_fixed 
            else:
                return fwd_e_fixed 
    elif ty_smt == 'Forward and RTO charges':
        if ws / .5 > 1:
            if zone == 'B':
                return (fwd_b_fixed + rto_b_fixed) + (ws // .5 - 1)* (fwd_b_additional + rto_b_additional)
            elif zone == 'D':
                return (fwd_d_fixed + rto_d_fixed) + (ws // .5 - 1)* (fwd_d_additional + rto_d_additional)
            else:
                return (fwd_e_fixed + rto_e_fixed) + (ws // .5 - 1)* (fwd_e_additional + rto_e_additional)
        else:
            if zone == 'B':
                 return (fwd_b_fixed + rto_b_fixed)
            elif zone == 'D':
                 return (fwd_d_fixed + rto_d_fixed)
            else:
                 return (fwd_e_fixed + rto_e_fixed)
    else:
        return 1

In [195]:
final_df['Expected Charge as per X (Rs.)'] = final_df.apply(lambda x: expected_charge(x['Type of Shipment'], x['Weight slab as per X (KG)'], x['Delivery Zone as per X']), 
                        axis=1)

In [197]:
final_df.head()

,AWB Code,Total weight as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Charges Billed by Courier Company (Rs.),Type of Shipment,Weight slab as per X (KG),Expected Charge as per X (Rs.)
Order ID,,,,,,,,,,
2001806210,1091120000000,0.220,2.92,3.0,B,B,174.5,Forward charges,0.5,33.0
2001806226,1091120000000,0.480,0.68,1.0,D,D,90.2,Forward charges,0.5,45.4
2001806229,1091120000000,0.500,0.71,1.0,D,D,90.2,Forward charges,0.5,45.4
2001806232,1091120000000,1.302,1.30,1.5,D,D,135.0,Forward charges,1.5,135.0
2001806233,1091120000000,0.245,0.78,1.0,B,B,61.3,Forward charges,0.5,33.0

In [198]:
final_df['Difference Between Expected Charges and Billed Charges (Rs.)'] = round(final_df['Expected Charge as per X (Rs.)'] - final_df['Charges Billed by Courier Company (Rs.)'],2)

In [199]:
final_df.head()

,AWB Code,Total weight as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Charges Billed by Courier Company (Rs.),Type of Shipment,Weight slab as per X (KG),Expected Charge as per X (Rs.),Difference Between Expected Charges and Billed Charges (Rs.)
Order ID,,,,,,,,,,,
2001806210,1091120000000,0.220,2.92,3.0,B,B,174.5,Forward charges,0.5,33.0,-141.5
2001806226,1091120000000,0.480,0.68,1.0,D,D,90.2,Forward charges,0.5,45.4,-44.8
2001806229,1091120000000,0.500,0.71,1.0,D,D,90.2,Forward charges,0.5,45.4,-44.8
2001806232,1091120000000,1.302,1.30,1.5,D,D,135.0,Forward charges,1.5,135.0,0.0
2001806233,1091120000000,0.245,0.78,1.0,B,B,61.3,Forward charges,0.5,33.0,-28.3

In [200]:
final_df.reset_index(inplace=True)
final_df.head()

,Order ID,AWB Code,Total weight as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Charges Billed by Courier Company (Rs.),Type of Shipment,Weight slab as per X (KG),Expected Charge as per X (Rs.),Difference Between Expected Charges and Billed Charges (Rs.)
0,2001806210,1091120000000,0.220,2.92,3.0,B,B,174.5,Forward charges,0.5,33.0,-141.5
1,2001806226,1091120000000,0.480,0.68,1.0,D,D,90.2,Forward charges,0.5,45.4,-44.8
2,2001806229,1091120000000,0.500,0.71,1.0,D,D,90.2,Forward charges,0.5,45.4,-44.8
3,2001806232,1091120000000,1.302,1.30,1.5,D,D,135.0,Forward charges,1.5,135.0,0.0
4,2001806233,1091120000000,0.245,0.78,1.0,B,B,61.3,Forward charges,0.5,33.0,-28.3

In [202]:
final_df['Difference Between Expected Charges and Billed Charges (Rs.)'] = final_df['Expected Charge as per X (Rs.)'] -  final_df['Charges Billed by Courier Company (Rs.)']

# Creating required_data_frame as new data frame

In [203]:
required_data_frame = final_df[['Order ID','AWB Code','Total weight as per X (KG)','Weight slab as per X (KG)','Total weight as per Courier Company (KG)','Weight slab charged by Courier Company (KG)','Delivery Zone as per X','Delivery Zone charged by Courier Company','Expected Charge as per X (Rs.)','Charges Billed by Courier Company (Rs.)', 'Difference Between Expected Charges and Billed Charges (Rs.)']]

In [206]:
required_data_frame.head()

,Order ID,AWB Code,Total weight as per X (KG),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Expected Charge as per X (Rs.),Charges Billed by Courier Company (Rs.),Difference Between Expected Charges and Billed Charges (Rs.)
0,2001806210,1091120000000,0.220,0.5,2.92,3.0,B,B,33.0,174.5,-141.5
1,2001806226,1091120000000,0.480,0.5,0.68,1.0,D,D,45.4,90.2,-44.8
2,2001806229,1091120000000,0.500,0.5,0.71,1.0,D,D,45.4,90.2,-44.8
3,2001806232,1091120000000,1.302,1.5,1.30,1.5,D,D,135.0,135.0,0.0
4,2001806233,1091120000000,0.245,0.5,0.78,1.0,B,B,33.0,61.3,-28.3

# Saving all date into a CSV files

In [207]:
required_data_frame.to_csv("Company_X_Final_Output1.csv")

In [208]:
Compnay_X_correctly_charged = required_data_frame[required_data_frame['Difference Between Expected Charges and Billed Charges (Rs.)'] == 0.0]

In [209]:
len(Compnay_X_correctly_charged)

30

In [210]:
total_invoice_amount_company_x_correctly_charged = required_data_frame[required_data_frame['Difference Between Expected Charges and Billed Charges (Rs.)'] == 0.0]['Charges Billed by Courier Company (Rs.)'].sum()

In [211]:
round(total_invoice_amount_company_x_correctly_charged,2)

2400.5

In [212]:
Company_X_over_charged = required_data_frame[required_data_frame['Difference Between Expected Charges and Billed Charges (Rs.)'] < 0.0]

In [213]:
len(Company_X_over_charged)

72

In [214]:
total_invoice_amount_company_x_over_charged = required_data_frame[required_data_frame['Difference Between Expected Charges and Billed Charges (Rs.)'] < 0.0]['Difference Between Expected Charges and Billed Charges (Rs.)'].sum()

In [215]:
round(total_invoice_amount_company_x_over_charged,2)

-3140.8

In [216]:
Comapny_X_under_charged = required_data_frame[required_data_frame['Difference Between Expected Charges and Billed Charges (Rs.)'] > 0.0]

In [217]:
len(Comapny_X_under_charged)

22

In [218]:
total_invoice_amount_Comapny_X_under_charged = required_data_frame[required_data_frame['Difference Between Expected Charges and Billed Charges (Rs.)'] > 0.0]['Difference Between Expected Charges and Billed Charges (Rs.)'].sum()

In [219]:
round(total_invoice_amount_Comapny_X_under_charged,2)

497.0